/**
 * Variables
 * Variables should follow the $component-state-property-size formula for
 * consistent naming. Examples:
 * $nav-link-disabled-color
 * $modal-content-box-shadow-xs
 *
 * Customization:
 * To customize Bootstrap variables:
 * Copy the desired variable from node_modules/bootstrap/scss/_variables.scss
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 * Change the value and remove the !default flag.
 * Examples:
 * $body-bg: #000;
 * $body-color: $gray-100;
 */

// Spotify colours.
$spotify-green: #1db954;
$spotify-grey-dark: #131313;
$spotify-grey-light: #2b2a2b;
$spotify-white: #ffffff;

// Base.
$dark: $spotify-grey-dark;
$body-bg: $spotify-grey-light;
$body-color: $spotify-white;
$primary: $spotify-green;

// Links.
$link-color: $spotify-green;
$link-decoration: none;
